@font-face {
  font-family:"JacquesFrancois";
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
}

h1{
  font-size: 40px;
  text-align: center;
}

.active:after{
  background-color: var(--primary-color);
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  position: relative;
}