body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "JacquesFrancois";
  src: url("https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCFPrEHJA.woff2")
    format("woff2");
}

@media(max-width: 600px){
  body{
    overflow-x: hidden;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-color: #ffb338;
  --white-color: #fff;
  --black-color: #000;
}
.slick-dots{
  position: absolute;
  top: 90%;
  color: white;
  
}
.slick-dots li{
  width: 20px;
}
.slick-dots li button:before {
  color: white;
  font-size: 15px;
}


