body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slick-dots{
  position: absolute;
  top: 90%;
  color: white;
  
}
.slick-dots li{
  width: 20px;
}
.slick-dots li button:before {
  color: white;
  font-size: 15px;
}
/* 
.slick-active{
  background-color: white;
} */